#Prevent directory listings
Options -Indexes
IndexIgnore */*

RewriteEngine On

#Rewrite everything to https
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Redirect directories
RewriteRule ^panel(/.+)?$ panel/$1 [L,PT]
#RewriteRule ^(.+)?$ site/$1
